.margen-pagina{
    margin-left: 80px;
    margin-right: 80px;
}
.numero-telefono{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}
.seccion-contacto{
    padding-top: 20px;
    padding-bottom: 20px;
}
.seccion-contacto div div{
    margin-bottom: 12px;
}
.footer{
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: #696969;
}
.footer a{
    color: white;
    font-size: 18px;
}
.footer a img{
    margin-right: 8px;
}
.footer p{
    color: white;
}
.footer ul{
    list-style-type: none;
}
.footer ul li{
    margin-bottom: 4px;
}

@media (max-width: 991px) {
    .margen-pagina{
        margin-left: 0px;
        margin-right: 0px;
    }
    .container{
        width: 100%;
    }
}

@media (max-width: 767px) {
    .numero-telefono{
        font-size: 25px;
    }
}
@media (max-width: 480px){
    .numero-telefono{
        font-size: 20px;
    }
    .footer a{
        font-size: 16px;
    }
}