<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link type="text/css" rel="stylesheet" href="../res/css/bootstrap.min.css"> 
        <link type="text/css" rel="stylesheet" href="../res/css/style.css">
        {% block head %}{% endblock %}
        <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
    </head>
    <body>
        <!--sección de contacto -->
        <section>
            <div class="container seccion-contacto">
                <div class="row margen-pagina">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                       <a href="/"><img class="img-responsive" src="../res/img/logo.png" alt="logo-gruasfenix"></a>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 numero-telefono text-right">
                        <p>Llámanos</p>
                        <p>5912 3649</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Fin sección de contacto -->
        <section>{% block content %}{% endblock %}</section>
        <!--Footer -->
        <section>
            <div class="footer">
                <div class="container seccion-contacto">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <ul class="text-center">
                               <li><a href="https://www.facebook.com/Gruas-F%C3%A9nix-514682618737302/?fref=ts">
                               <img src="../res/img/facebook.png" alt="fanpage">Fan Page Facebook</a></li>
                               <li><a href="tel:59123649">
                               <img src="../res/img/phone.png" alt="telefono">5912 3649</a></li>
                               <li><a href="tel:47679244">
                               <img src="../res/img/phone.png" alt="telefono">4767 9244</a></li>
                               <li><a href="tel:54058860">
                               <img src="../res/img/phone.png" alt="telefono">5405 8860</a></li>
                               <li><a href="mailto:gruasfenix01@hotmail.com">gruasfenix01@hotmail.com</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <ul class="text-center">
                                <li><a href="/">Página Principal</a></li>
                                <li><a href="/#servicios">Servicios</a></li>
                                <li><a href="/#garantias">Garantias</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <a href="/"> <img src="../res/img/logomin.png" class="img-responsive center-block" alt="logo"></a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                            <ul class="list-inline">
                                <li><a href="/preguntasfrecuentes">Preguntas Frecuentes</a></li>
                                <li><a href="/avisolegal">Aviso Legal</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                            <p>© Grúas Fénix 2017 - Servicio de grúas en Guatemala / Todos los derechos reservados</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Fin Footer-->
    </body>
</html>