<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link type="text/css" rel="stylesheet" href="../res/css/bootstrap.min.css"> 
        <link type="text/css" rel="stylesheet" href="../res/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
    </head>
    <body>
        <!--sección de contacto -->
        <section>
            <div class="container seccion-contacto">
                <div class="row margen-pagina">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                       <img class="img-responsive" src="../res/img/logo.png" alt="logo-gruasfenix">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 numero-telefono text-right">
                        <p>Llámanos</p>
                        <p>2324-3532</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Fin sección de contacto -->
        <!--Footer -->
        <section>
            <div class="footer">
                <div class="container seccion-contacto">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                            <ul class="list-inline">
                                <li><a href="asdf">Servicios</a></li>
                                <li><a href="asdf">Garantias</a></li>
                                <li><a href="asdf">Facebook</a></li>
                                <li><a href="asdf">hola</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                            <ul class="list-inline">
                                <li><a href="asdf">FAQ</a></li>
                                <li><a href="asdf">Aviso Legal</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                            <p>© Grúas Fénix 2017 - Servicio de grúas en Guatemala / Todos los derechos reservados</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Fin Footer-->
    </body>
</html>