<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Gruas Guatemala - Servicio de Gruas 24 horas - Gruas Fénix</title>
<link href="../principalpage/res_index/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="../principalpage/res_index/css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="gruas en guatemala, gruas en xela, servicio de gruas en guatemala, telefono de gruas, servicio de gruas de plataforma, gruas gt" />
<meta name="description" content="Ofrecemos servicios de gruas de plataforma, maniobras y rescates y transporte de maquinaria por todo el país. 
Funcionamos las 24 horas del día los 365 días del año"/>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Voltaire' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
<!--js-->
<script src="../principalpage/res_index/js/jquery-1.11.1.min.js"></script>
<script src="../principalpage/res_index/js/bootstrap.js"></script>
<link href="../principalpage/res_index/css/index.css" rel="stylesheet" type="text/css" media="all" />	
<script src="../principalpage/res_index/js/responsiveslides.min.js"></script>
 <script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>
<!--js-->

<!-- Script de Google Analitycs-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85420936-1', 'auto');
  ga('send', 'pageview');

</script>
<link href="../principalpage/res_index/css/font-awesome.min.css" rel="stylesheet"> 
<link rel="stylesheet" type="text/css" href="../principalpage/res_index/css/easy-responsive-tabs.css " />
    <script src="../principalpage/res_index/js/easyResponsiveTabs.js"></script>
</head>
<body>
		<!--header-->
		<div class="header" id="inicio">
			<div class="header-top">
				<div class="container">
					<div class="indicat">
						<span><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>14 calle - 34 avenida zona 7 ciudad de Guatemala</span>
					</div>
					<div class="detail">
						<ul>
							<li><i class="glyphicon glyphicon-phone"></i>5912 3649</li>
							<li><i class="glyphicon glyphicon-time" aria-hidden="true"></i> Estamos atendiendo justo ahora </li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="container">
				<div class="header-menu">
					<nav class="navbar navbar-default">
						<div class="container-fluid">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
							  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							  </button>
							  <div class="navbar-brand logo">
									<h1><a href="#inicio"><span>Gruas Fénix</span></a></h1>
								</div>
							</div>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<nav class="link-effect-4" id="link-effect-4"> 
									<ul class="nav navbar-nav">
										<li><a href="#inicio" >Inicio</a></li>
										<li><a href="#servicios">Servicios</a></li>
										<li><a href="#garantias">Garantias</a></li>
										<!--<li><a href="#testimonios">Testimonios</a></li>-->
										<li><a href="#contacto">Contacto</a></li>
									</ul>
								</nav>
							</div><!-- /.navbar-collapse -->
						</div><!-- /.container-fluid -->
					</nav>
					<div class="clearfix"></div>
				</div>	
			</div> 
		</div>
<!--header-->
		<!--banner-->
		<div class="banner-section">
			<div class="container">
				<div class="slider">
					<div class="callbacks_container">
						<ul class="rslides" id="slider">
							 <li>	 
								<div class="caption">
									<div class="col-md-4 cap-left">
										<img src="../principalpage/res_index/images/b.png" alt="ServicioGrua">
									</div>
									<div class="col-md-8 cap-right">
										<h3>Necesitas grúa, los accidentes pasan, vamos por usted</h3>
									</div>
									<div class="clearfix"></div>
								</div>
							</li>
							 <li>	 
								<div class="caption">
								<div class="col-md-4 cap-left">
									<img src="../principalpage/res_index/images/b2.png" alt="ServiciosGrua">		
								</div>
								<div class="col-md-8 cap-right">
									<h3>Transportamos lo que tiene ruedas y lo que no</h3>
								</div>
								<div class="clearfix"></div>
								</div>
								
							 </li>
							<li>	 
								<div class="caption">
								<div class="col-md-4 cap-left">
									<img src="../principalpage/res_index/images/b1.png" alt="MapaGuatemala">			
								</div>
								<div class="col-md-8 cap-right">
									<h3>Contamos con cobertura nacional</h3>
								</div>
								<div class="clearfix"></div>
								</div>
								
							 </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
<!---banner-->
		<div class="content">
			<div class="banner-bottom">
				<div class="col-md-3 ban-grid">
					<div class="ban-left">
						<h4><b>Servicio 24 horas</b></h4>
					</div>
					<div class="ban-right">
						<i class="glyphicon glyphicon-time"></i>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-3 ban-grid">
					<div class="ban-left">
						<h4><b>365 días al año</b></h4>
					</div>
					<div class="ban-right">
						<i class="glyphicon glyphicon-calendar"></i>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-3 ban-grid">
					<div class="ban-left">
						<h4><b>Servicio a nivel nacional</b></h4>
					</div>
					<div class="ban-right">
						<i class="glyphicon glyphicon-map-marker"></i>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-3 ban-grid">
					<div class="ban-left">
						<h4><b>Mas de 20 años de experiencia</b></h4>
					</div>
					<div class="ban-right">
						<i class="glyphicon glyphicon-user"></i>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>

			<!---services-->
			<div class="services" id="servicios">
				<div class="container">
					<h2 class="tittle">Nuestros Servicios</h2>
					<div class="services-grids">
						<div class="col-md-4 services-grid">
							<div class="service">
									<div class="left-grid">
									<i class="glyphicon glyphicon-cog"></i>
									</div>
								<div class="right-grid">
									<h2>Gruas de Plataforma</h2>
									<p><b>Remolcamos y transportamos</b> vehículos livianos y pesados ya sean de tipo sedán, camioneta, pick-up o deportivo.</p>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>	
						<div class="col-md-4 services-grid">
							<div class="service">
									<div class="left-grid">
										<i class="glyphicon glyphicon-cog" ></i>
									</div>
								<div class="right-grid">
									<h2>Traslado de Maquinaria</h2>
									<p>Todo tipo de maquinaria ya sea grande o pequeña</p>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>	
							
						<div class="col-md-4 services-grid">
							<div class="service">
									<div class="left-grid">
										<i class="glyphicon glyphicon-cog"></i>
									</div>
								<div class="right-grid">
									<h2>Transporte pesado</h2>
									<p>Transportamos vehículos comerciales de todo tipo, camiones, camionetas, pipas, palanganas, camiones de volteo.</p>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
							
						<div class="clearfix"></div>
					</div>
					<div class="services-grids">
						<div class="col-md-4 services-grid">
							<div class="service">
									<div class="left-grid">
									<i class="glyphicon glyphicon-warning-sign"></i>
									</div>
								<div class="right-grid">
									<h2>Rescates</h2>
									<p>Vehículo atascado, vehículo en barranco, vehículo chocado.</p>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="col-md-4 services-grid">
							<div class="service">
									<div class="left-grid">
										<i class="glyphicon glyphicon-cog"></i>
									</div>
								<div class="right-grid">
									<h2>Cerrajería</h2>
									<p>Apertura de vehículos de todo tipo.</p>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>	
						<div class="col-md-4 services-grid">
							<div class="service">
									<div class="left-grid">
									<i class="glyphicon glyphicon-wrench"></i>
									</div>
								<div class="right-grid">
									<h2>Servicios Viales</h2>
									<p>Paso de corriente, cambio de llantas, abastecimiento de gasolina, abastecimiento de aceite.</p>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<!-- Nav tabs -->
			<div class="tabs" id="garantias">
				<div class="container">
					<h3 class="tittle">Garantizado</h3>
					<div class="services-grids">
						<div id="garantias">
							<ul class="resp-tabs-list hor_1">
								<li>Servicio 24 horas</li>
								<li>No hay feriado</li>
								<li>Servicio a nivel nacional</li>
								<li>Siempre el menor precio</li>
								<li>Experiencia</li>
							</ul>
								<div class="resp-tabs-container hor_1">
									<div class="text">
										<h4>Servicio 24 horas</h4>
										<p>No hay hora para los imprevistos, sabemos que pueden ocurrir ya sea de día o de noche, pero no importa nosotros estamos preparados solo llámenos.</p>
									</div>
									<div class="text">
										<h4>No hay feriado</h4>
										<p>Trabajamos los 7 días de la semana, los 365 días del año.</p>
									</div>

									<div class="text">
										<h4>Servicio a nivel nacional</h4>
										<p>Contamos con socios capacitados a nivel nacional para cubrir sus necesidades de transporte. </p>
									</div>
									<div class="text">
										<h4>Siempre el menor precio</h4>
										<p>Con nuesta cobertura a nivel nacional siempre buscamos la grúa mas cerca de usted para un servicio mas rápido y a menor precio.</p>
									</div>
									<div class="text">
										<h4>Experiencia</h4>
										<p>Con más de 20 años en el negocio hemos ganado la confianza de muchos clientes que han quedado satisfechos con nuestro buen servicio.</p>
									</div>

								</div>
						</div>
					</div>
				</div>
			</div>	
				<!--Plug-in Initialisation-->
				<script type="text/javascript">
				$(document).ready(function() {

					//Vertical Tab
					$('#garantias').easyResponsiveTabs({
						type: 'vertical', //Types: default, vertical, accordion
						width: 'auto', //auto or any width like 600px
						fit: true, // 100% fit in a container
						closed: 'accordion', // Start closed if in accordion view
						tabidentify: 'hor_1', // The tab groups identifier
						activate: function(event) { // Callback function if tab is switched
							var $tab = $(this);
							var $info = $('#nested-tabInfo2');
							var $name = $('span', $info);
							$name.text($tab.text());
							$info.show();
						}
					});
				});
			</script>
<!---footer-->
		<div class="footer-section" id="contacto">
			<div class="container">
				
				<div class="col-md-6 footer-grid">
					<h4>Contacto</h4>
					
						<p><i class="glyphicon glyphicon-home" aria-hidden="true"></i>14 calle - 34 avenida zona 7</p>
						<p>ciudad de Guatemala</p>
						<p><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:gruasfenix01@hotmail.com">gruasfenix01@hotmail.com</a></p>
						<p><i class="glyphicon glyphicon-phone" aria-hidden="true"></i>5912 3649</p>
						<p><i class="glyphicon glyphicon-phone" aria-hidden="true"></i>4767 9244</p>
						<p><i class="glyphicon glyphicon-phone" aria-hidden="true"></i>5405 8860</p>
				</div>
				<div class="col-md-6 footer-grid">
					<h4>Enlaces</h4>
					<ul>
						<li><a href="https://www.facebook.com/Gruas-F%C3%A9nix-514682618737302/?fref=ts">Página Facebook</a></li>
						<li><a href="/todalacapital">Otra Página contacto</a></li>
						<li><a href="/avisolegal">Aviso Legal</a></li>
						<li><a href="/preguntasfrecuentes">Preguntas Frecuentes</a></li>
					</ul>
				</div>
				
				<div class="clearfix"></div>
			</div>
		</div>
			<!---footer-->
			<!---copy-->
			<div class="copy-section">
				<div class="container">
						<p>&copy; 2016. Todos los derechos reservados | Diseñado por <a href="http://w3layouts.com">W3layouts</a></p>
				</div>
			</div>
			<!---copy-->
</body>
</html>