{% extends "templates/base.html" %}
{% block head %}
<link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../res/css/style_preguntasfrecuentes.css">
{% endblock %}
{% block content %}
<div class="barra"></div>
<section>
    <div class="container contenido">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h2 class="text-center">Preguntas Frecuentes</h2>
                <p>
                    <em>¿Dónde funciona Grúas Fénix?</em>
                <br>Grúas Fénix Funciona en toda el área de ciudad capital

                   <br><br> <em>¿Hay servicio todos los días?</em>

                        <br>Sí, los 7 días de la semana, todo el año.

                    <br><br><em>¿En qué horarios funciona Grúas Fénix?</em>

                        <br>Las 24 horas del día

                       <br><br> <em>¿Qué servicios ofrece?</em>
                      <br>  <ul>
                            <li>Remolque y transporte de vehículos livianos y pesados</li>
                            <li>Transporte de maquinaria</li>
                            <li>Rescates, maniobras para recuperación de vehículos atascados, volcados, chocados, etc</li>
                            <li>Cerrajería, apertura de vehículos todo tipo</li>
                            <li>Servicios en carretera, paso de corriente, gasolina, aceite</li>
                        </ul>

                       <br><br> <em>¿Qué garantías ofrece?</em>
                      <br>  <ul>
                            <li>El servicio está disponible las 24 horas del día</li>
                            <li>Prestamos el servicio siempre y cuando se encuentre en una de las áreas disponibles, para información de la disponibilidad del área en que usted se encuentra por favor comuníquese con nosotros</li>
                            <li>Respuesta Inmediata, nuestro medio de comunicación primario es el número de teléfono, si desea dejar alguna opinión de nuestro servicio puede enviarnos un correo electrónico o escribir a nuestra fanpage de facebook, links se especifican en la parte inferior de esta página</li>
                        </ul>
                      <br><br>  <em>Acerca de los precios</em>

                     <br>   Sabemos que el precio es uno de los factores más importantes para nuestros clientes, los nuestros se basan en el peso del vehículo, el estado del camino, el equipo que necesitamos utilizar, y la distancia que hay que reccorer.
                </p>
                
            </div>
        </div>
    </div>
</section>
{% endblock %}