{% extends "templates/base.html" %}
{%block head%}
<link type="text/css" rel="stylesheet" href="../res/css/style_servicios.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
{%endblock%}
{%block content%}
<div class="barra"></div>
<div class="container" id="seccion-contenido">
    <div class="row margen-pagina">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h1 class="text-center">Grúas en Todas las Zonas de La Capital las 24 horas</h1>
        </div>
    </div>
    <div class="row margen-pagina" id="servicios">
        <div class="col-xs-12 col-sm-8 col-md-8">
            <h2 class="text-left">Contamos con años de experiencia en el negocio</h2>
            <p>Grúas Fénix es una empresa confiable y con experiencia,
                estamos para ayudarle a proteger su vehículo en cualquier momento a través de nuestros servicios.</p>
            <ul>
                <li>
                    <h2>Transporte</h2>
                    <p>Vehículos livianos, pesados y maquinaria, siempre teniendo 
                        el cuidado de no dañar la carga durante todo el proceso.</p>
                </li>
                <li>
                    <h2>Remolque Vehículos Chocados</h2>
                    <p>Los accidentes pasan, tenemos grúas para remolcar tu vehículo hasta un lugar seguro.</p>
                </li>
                <li><h2>Rescates - Maniobras</h2>
                    <p>Vehículo atascado, asistencia en carretera, llámanos.</p>
                </li>
            </ul>
            <p>Nuestros clientes han estado encantados con nuestra honestidad. 
                Nosotros sabemos lo importante que es su vehículo para usted y que nesesita 
                tenerlo en circulación. Le ayudaremos a que eso pase en el menor tiempo posible.
            </p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4" id="seccion-imagen">
            <h3 class="text-center">Estamos para servirle</h3>
            <img src="../res/img/image1.png" alt="imagen-grua" class="img-responsive center-block">
            <p>El servicio funciona las 24 horas, trasladaremos tu vehículo para que 
                vuelva a circular lo antes posible.
            </p>
            <a href="tel:59123649" id="btn-llamar" class="center-block">Hacer una llamada</a>
        </div>
    </div>
</div>
{%endblock%}